@import 'nib'
@import 'nib/gradients'

global-reset()

blue = #0060aa

grad_start = #009bd2
grad_end = #006fb6

banner_width = 1018px
banner_height = 360px

video_width = 617px

body
    background-color: white
    width: banner_width
    height: banner_height
    overflow: hidden

form
    position: relative
    padding-left: 29px
    padding-right: 24px
    _height = banner_height - 2px
    _width = 399px - @padding-left - @padding-right
    float: left
    height: _height
    width: _width
    display: block
    border 1px solid blue
    border-right: 1px solid white
    background: linear-gradient-image(_height top, grad_start, grad_end)
    
    .string
        absolute: left 266px top 187px
        background-image: url('../img/string.png')
        width: 277px
        height: 120px

    .tilbod
        image: '../img/tilbod.png' 344px 83px
        width: 344px
        height: 83px
        margin: 112px 0 20px 0

    .logo
        display: block
        absolute: left 29px bottom 19px
        image: '../img/logo.png' 87px 41px
        width: 87px
        height: 41px

    input
        font-size: 14px !important
        display: block
        float: left
        height: 29px !important 

    .group
        position: relative
        z-index: 10
        clearfix()

        input
            width: (_width / 2) - 8px

    input.nafn
        margin-right: 7px

    input.netfang
        width: _width - 8px
        margin-top: 12px

    button
        absolute: right 31px bottom 23px
        grad_start = #fbc765
        grad_end = #fcb02a
        _height = 28px
        background: linear-gradient-image(_height top, grad_start, grad_end)
        height: _height
        border-color: #fbc766 #f5af2a #f59a26 #f5ae29
        color: #333;
        text-shadow: none;
        border-radius: 2px;

        i
            display: block
            absolute: left -7px top -2px
            image: '../img/button-string.png' 80px 37px
            width: 80px
            height: 37px

        &:hover
            background: linear-gradient-image(_height top, grad_end, grad_start)

video
    float: left
    width: video_width
    height: banner_height

div.pix
    absolute: top 1px left banner_width - video_width - 47px
    image: '../img/pix.png' 116px 93px
    width: 116px
    height: 93px
