html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  background-color: #fff;
  width: 1018px;
  height: 360px;
  overflow: hidden;
}
form {
  position: relative;
  padding-left: 29px;
  padding-right: 24px;
  float: left;
  height: 358px;
  width: 346px;
  display: block;
  border: 1px solid #0060aa;
  border-right: 1px solid #fff;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAFmCAYAAACsk/DfAAAABmJLR0QA/wD/AP+gvaeTAAAAWklEQVQ4jWNgmH3pPxPD//8MTAwMDPiI/3hlGf6TohibOkpcQLLl6EpwWU6MP/6TopgUy0kzlK7hh66YesmHipFHtGf+k+fpQRJ5FMTgaPYbFDE4mv0GKPsBALo+TO8AAfhfAAAAAElFTkSuQmCC');
}
form .string {
  position: absolute;
  left: 266px;
  top: 187px;
  background-image: url("../img/string.png");
  width: 277px;
  height: 120px;
}
form .tilbod {
  background-image: url("../img/tilbod.png");
  width: 344px;
  height: 83px;
  margin: 112px 0 20px 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  form .tilbod {
    background-image: url("../img/tilbod@2x.png");
    -webkit-background-size: 344px 83px;
    -moz-background-size: 344px 83px;
    background-size: 344px 83px;
  }
}
form .logo {
  display: block;
  position: absolute;
  left: 29px;
  bottom: 19px;
  background-image: url("../img/logo.png");
  width: 87px;
  height: 41px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  form .logo {
    background-image: url("../img/logo@2x.png");
    -webkit-background-size: 87px 41px;
    -moz-background-size: 87px 41px;
    background-size: 87px 41px;
  }
}
form input {
  font-size: 14px !important;
  display: block;
  float: left;
  height: 29px !important;
}
form .group {
  position: relative;
  z-index: 10;
  zoom: 1;
}
form .group:before,
form .group:after {
  content: "";
  display: table;
}
form .group:after {
  clear: both;
}
form .group input {
  width: 165px;
}
form input.nafn {
  margin-right: 7px;
}
form input.netfang {
  width: 338px;
  margin-top: 12px;
}
form button {
  position: absolute;
  right: 31px;
  bottom: 23px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAcCAYAAACgXdXMAAAABmJLR0QA/wD/AP+gvaeTAAAAJklEQVQImWP4fSzlPxPD/38MTAwMfxmgLGwEA5rYX7yyCAniDQUAijg0DEf8U5YAAAAASUVORK5CYII=');
  height: 28px;
  border-color: #fbc766 #f5af2a #f59a26 #f5ae29;
  color: #333;
  text-shadow: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
form button i {
  display: block;
  position: absolute;
  left: -7px;
  top: -2px;
  background-image: url("../img/button-string.png");
  width: 80px;
  height: 37px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  form button i {
    background-image: url("../img/button-string@2x.png");
    -webkit-background-size: 80px 37px;
    -moz-background-size: 80px 37px;
    background-size: 80px 37px;
  }
}
form button:hover {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAcCAYAAACgXdXMAAAABmJLR0QA/wD/AP+gvaeTAAAAJUlEQVQImWP4vUHrPxMDIxMDEwMDMwOUhY1gQBNjxiuLkCDeUACpZQNagrpyMwAAAABJRU5ErkJggg==');
}
video {
  float: left;
  width: 617px;
  height: 360px;
}
div.pix {
  position: absolute;
  top: 1px;
  left: 354px;
  background-image: url("../img/pix.png");
  width: 116px;
  height: 93px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  div.pix {
    background-image: url("../img/pix@2x.png");
    -webkit-background-size: 116px 93px;
    -moz-background-size: 116px 93px;
    background-size: 116px 93px;
  }
}
